<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="com.run.pas.commons.log4j.layout.DefaultPatternLayout">
			<param name="ConversionPattern" value="%d | %p | %X{traceID} | %m | %l %n" />
		</layout>
	</appender>

	<!-- debug日志 -->
	<appender name="DEBUG_APPENDER" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${catalina.home}/logs/debug/debug.log" />
		<param name="Encoding" value="UTF-8" />
		<param name="MaxFileSize" value="10MB" />
		<param name="MaxBackupIndex" value="50" />
		<layout class="com.run.pas.commons.log4j.layout.DefaultPatternLayout">
			<param name="ConversionPattern" value="%d | %p | %X{traceID} | %m | %l %n" />
		</layout>
	</appender>

	<!-- 接口日志 -->
	<appender name="INTERFACE_APPENDER" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${catalina.home}/logs/interface/interface.log" />
		<param name="Encoding" value="UTF-8" />
		<param name="MaxFileSize" value="10MB" />
		<param name="MaxBackupIndex" value="50" />
		<layout class="com.run.pas.commons.log4j.layout.DefaultPatternLayout">
			<param name="ConversionPattern" value="%d | %p | %X{traceID} | %m%n" />
		</layout>
	</appender>

	<!-- 任务日志 -->
	<appender name="TASK_APPENDER" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${catalina.home}/logs/task/task.log" />
		<param name="Encoding" value="UTF-8" />
		<param name="MaxFileSize" value="10MB" />
		<param name="MaxBackupIndex" value="50" />
		<layout class="com.run.pas.commons.log4j.layout.DefaultPatternLayout">
			<param name="ConversionPattern" value="%d | %p | %X{traceID} | %m%n" />
		</layout>
	</appender>

	<!-- 数据库日志 -->
	<appender name="DB_APPENDER" class="org.apache.log4j.jdbc.JDBCAppender">
		<param name="URL" value="jdbc:oracle:thin:@192.168.1.203:1521:orcl" />
		<param name="user" value="pas" />
		<param name="password" value="pas" />
		<param name="driver" value="oracle.jdbc.OracleDriver" />
		<layout class="com.run.pas.commons.log4j.layout.DefaultPatternLayout">
			<param name="ConversionPattern"
				value="insert into T_LOG (CREATION_TIME, LOG_LEVEL, TRACE_ID, USER_ID, USER_NAME,  MESSAGE, LOCATION,STATUS)
				 values(sysdate,\'%p\',\'%X{traceID}\',\'%X{userID}\',\'%X{username}\',\'%m\',\'%l\',\'%X{status}\')" />
		</layout>
	</appender>

	<category name="com.run" additivity="true">
		<priority value="DEBUG" />
		<appender-ref ref="DEBUG_APPENDER" />
	</category>
	<category name="java.sql" additivity="true">
		<priority value="DEBUG" />
		<appender-ref ref="DEBUG_APPENDER" />
	</category>

	<category name="org.springframework" additivity="true">
		<priority value="INFO" />
		<appender-ref ref="DEBUG_APPENDER" />
	</category>

	<category name="org.springframework.data.redis" additivity="true">
		<priority value="ERROR" />
		<appender-ref ref="DEBUG_APPENDER" />
	</category>

	<category name="INTERFACE_LOGGER" additivity="true">
		<priority value="DEBUG" />
		<appender-ref ref="INTERFACE_APPENDER" />
	</category>

	<category name="TASK_LOGGER" additivity="true">
		<priority value="DEBUG" />
		<appender-ref ref="TASK_APPENDER" />
	</category>

	<category name="DB_LOGGER" additivity="false">
		<priority value="DEBUG" />
		<appender-ref ref="DB_APPENDER" />
	</category>

	<root>
		<priority value="DEBUG" />
		<appender-ref ref="STDOUT" />
	</root>

</log4j:configuration>